*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
p{
    font-size: 1.7rem;
}
.header{
    display: flex;
    background-color: grey;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    padding: 1rem 2rem;
}

.header__logo{
    display: flex;
    align-items: center;
} 
.header__logo img{
    width:4rem;
    height: 4rem;
} 
.header__logo p{
    margin:1.2rem 2rem;
    color: white;
    font-weight: 600;
} 
.nav__item{
    display: inline;
    padding: 0.5rem;
       
}
.nav__item a:hover{
    border-bottom: 0.3rem solid white;
    padding: 1rem;
}
.nav__item a{
    text-decoration:none;
    font-size: 1.7rem;
    color: white;
    font-weight: 600;
    padding: 0 1rem;   
}
.header__user img{
    width: 4rem;
    height: 4rem;
}

.main{
    display: flex;
    background-color: antiquewhite;
}
.section{
    background-color: grey;
    padding: 1.5rem;
    border-top: 0.2rem solid antiquewhite;
}
.section img{
    width: 30rem;
    border-radius: 3rem;
    margin-top: 0.7rem;
    border: 0.3rem solid antiquewhite;
}
.content img{
    width: 40rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
    border: 0.3rem solid grey;
}
.content{
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-weight: 540;
}
.footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 0.45rem;
    color:white;
    font-weight: bold;
}